body{
	background-color: hsl(0, 0%, 92%);
	height: auto;
	display: block;
	justify-content: center;
	align-items: center;
}
.images{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 100px 100px 100px;
	background-color: floralwhite;
	box-shadow: 10;
	grid-column-gap: 200px;
}
.head{
	font-size: 20px;
	align-items: center;
}
.contanier{
  display:grid;
  grid-template-columns: 400px 100px;
  justify-content: center;
  grid-column-gap: 10px;
  margin: auto auto 10px auto;
}
.canvas{
  /*height: 100px;
  width:70%;*/
  border-style: solid;
  border-color: hsl(10, 20%, 60%);
  border-width: 5px;
  background-color: black;
}

.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px 0px 0px 50px;
}

.btn{
  width: 200px;
  height: 30px;
  margin: 0px 0px 20px 0px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

.clear-btn{
  background-color: bisque;
}
.pred-btn{
	background-color: limegreen;
}
.clear-btn:hover{
  color: blue;
}
.pred-btn:hover{
  color: blue;
}
.btn:active{
  font-size: 10px;
}


.output-container{
  display:flex;
  justify-content: center;
  margin: auto auto 10px auto;
}
.head1{
  font-size: 25px;
  justify-content: center;
}
#p1{
  background-color: blanchedalmond;
}
#p2{
  background-color: yellow;
}
#p3{
  background-color: blueviolet;
}
.visi{
  margin: 0px 20px 0px 20px;
}
